
        body {
            margin: 0;
            padding: 0;
        }
        #menu{
            width: 100%;
            height: 80px;
            background: #F6F6F6;
            position: sticky;
            top : 0;
	        z-index : 100;
            box-shadow: -2px 4px 8px 0px rgba(0,0,0,0.75);
        }
        #top_logo{
            float :left;
            width : 20%;
            height : 80px;
        }
        #top_logo img{
            margin : 0;
            width : 70%;
            transition: transform;
            transition-duration: 1s;
        }
        #top_logo img:hover{
            transform: scale(1.05,1.05);
        }
        #left_menu{
            float:left;
            width : 60%;
            height: 80px;
        }
        #left_menu ul{
            list-style: none;
            margin-top: 10px;
            font-family: Arial;
        }
        #left_menu ul li a:link,
        #left_menu ul li a:visited {
            padding: 15px 20px;
            float: left;
            border-radius: 5px;
            text-decoration: none;
            color: rgb(46, 46, 46);
            font-weight: bold;
            font-size: 20px;
            text-shadow: 3px 4px 3px rgba(255, 255, 255, 0.71);
            transition: transform;
            transition-duration: 1s;
        }
        
        #left_menu ul li:first-child a:link,#left_menu ul li:first-child a:visited{
            color : red;
        }
        #left_menu ul li:first-child a:hover{
            color :white;
        }
        #left_menu ul li a:hover {
            margin: 0;
            background: red;
            color: white;
            border-radius: 5px;
            border: 1px solid white;text-shadow: -2px 1px 1px rgba(0,0,0,0.62);
            transform: scale(1.03,1.03);
        }
        #right_menu {
            width : 20%;
            height : 80px;
            float: right;
        }
        #right_menu ul {
            margin: 0;
            margin-top : 10px;
            list-style: none;
            font-family: Arial;
        }
        #right_menu ul li {
            float: left;
            color: rgb(97, 97, 97);
        }
        #right_menu ul li a:link,
        #right_menu ul li a:visited {
            margin : 0;
            margin-left: 10px;
            padding: 15px 25px;
            float: left;
            border-radius: 5px;
            text-decoration: none;
            background-color: red;
            color: rgb(255, 255, 255);
            font-weight: bold;
            font-size: 20px;
            transition: transform;
            transition-duration: 2s;
        }
        #right_menu ul li a:hover {
            background-color: white;
            color: red;
            border: 2px solid rgb(212, 212, 212);
            box-shadow: -6px 5px 18px 5px rgba(214,214,214,0.74);
            transform: scale(1.03,1.03);
        }
        
        #toparea {
            width: 100%;
            height: 100vh;
            background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),url('images/topbanner.jpg')  ;
            background-size: cover;
            background-attachment:fixed;
        }
        #headertext {
            position: relative;
            align-items: center;
            top : 100px;
            left : 25%;
            width: 50%;
            height: 400px;
            float: left;
        }
        #headertext h1 {
            text-align: center;
            margin-top:40px;
            color: white;
            font-family: serif;
            font-size: 150px;
            text-align: center;
            font-weight: bolder;
            letter-spacing: 10px;
            line-height: 150px;
            font-family: 'Stardos Stencil', cursive;
            text-shadow: -3px 3px 0px rgba(214, 7, 7, 0.877),1px 3px 0px rgba(0, 0, 0, 0.6);
        }
        #about {
            margin: 0;
            width: 100%;
            height: 600px;
            background: black;
            background-size: 100% 100%;
            background: scroll;
        }
        #left_about {
            float: left;
            margin: 0;
            width: 40%;
            height: 600px;
            background: rgb(243, 240, 240);
        }

        #left_about img {
            margin: 0;
            width: 80%;
        }

        #right_about {
            float: right;
            width: 60%;
            height: 600px;
            background: rgb(243, 240, 240);
        }

        #right_about_c {
            margin: 0;
            padding: 0;
            width: 65%;
            height: 600px;
            float: right;
        }

        #right_about h3 {
            margin: 0;
            text-align: right;
            font-size: 50px;
            margin: 30px 50px 0 0;
        }

        #box {
            float: right;
            margin: 10px 60px 0 0;
            width: 20px;
            height: 20px;
            background: red;
        }

        #right_about_c p {
            float: left;
            text-align: right;
            font-size: 16px;
            font-family: sans-serif;
            word-spacing: 5px;
            margin: 20px 50px 0 0;
        }

        .button a:link,
        .button a:visited {
            float: right;
            margin: 20px 50px 0 0;
            text-decoration: none;
            padding: 15px 25px;
            font-size: 18px;
            color: black;
            border: 2px solid rgb(255, 0, 0);
        }

        .button a:hover {
            background-color: rgb(255, 0, 0);
            color: white;
            border: 2px solid white;
            box-shadow: -5px 5px 5px rgb(223, 222, 222) ;
        }

        #right_about_c h2 {
            color: black;
            float: left;
            text-align: right;
            font-size: 20px;
            font-family: sans-serif;
            font-weight: bolder;
            font-style: italic;
            word-spacing: 5px;
            margin: 20px 50px 0 0;
        }

        #right_about_c h3 {
            color: rgb(194, 188, 188);
            float: right;
            text-align: right;
            font-size: 18px;
            font-family: sans-serif;
            font-weight: bolder;
            font-style: italic;
            word-spacing: 5px;
            margin: 20px 50px 0 0;
        }

        #category {
            width: 100%;
            height : 1100px;
            background: black;
        }
        #category_h {
            width : 800px;
            height : 50px;
            margin : 0 auto;
            margin-bottom: 10px;
        }
        #category_h h3{
            float : left;
            margin : 10px 40%;
            color : white;
            font-size: 60px;
            text-shadow: -2px 2px 2px rgba(255,0,0,0.62);
        }
        .box_c
        {
            margin : 20px 20px 10px 20px ;
            width : 350px;
            height : 450px;
            box-shadow: 3px -1px 15px 3px rgba(161,121,121,0.54);
            border: 2px solid rgb(82, 81, 81);
            float : left;
            position: relative;
            transition: transform,letter-spacing;
            transition-duration:1s ;
        }
        .box_c:hover{
            background: whitesmoke;
            border: 2px solid rgb(136, 136, 136);
            box-shadow: -4px 4px 15px 3px rgba(112, 112, 112, 0.72);
            transform: scale(1.02, 1.02);
        }
        #box_c1,#box_c4{
                margin-left : 250px;
        }
        .c_button{
            margin : 0 auto;
            position : absolute;
            bottom: 65px;
            left : 105px;
        }
        .c_button a:link, .c_button a:visited{
            padding: 15px 25px;
            text-decoration: none;
            background-color: red;
            color: rgb(255, 255, 255);
            font-weight: bold;
            font-size: 20px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
         .c_button a:hover{
            color : black;
            background: white;
            border:  2px solid rgb(207, 207, 207);
        }
        .c_pics{
            margin : 20px 75px;
             width : 200px ;
            height : 250px;
        }
        #box_c2  .c_pics{
            width : 300px;
            margin-left: 20px;
        }
        .c_pics img{
            width : 100%;
            height : 100%;
        }
        h4{
            margin : 10px 75px;
            text-align: center;
            font-size: larger;
            font-weight: 999;
            font-family: 'Courier New', Courier, monospace;
            color : rgb(255, 52, 52);
        }
        .box_c:hover .c_text h4{
            color : black;
            letter-spacing: 1px;
        }
        #latest{
            width : 100%;
            height : 400px;
        }
        #latest_h {
            border-top: 1px solid rgb(52, 52, 52); 
            border-bottom: 1px solid rgb(52, 52, 52);
            width : 100%;
            height : 100px;
            margin : 0 auto;
            background: black;
        }
        #latest_h h3{
            margin : 1% 0 0  30%;
            float : left;
            justify-content:  center;
            color : rgb(220, 220, 220);
            font-size: 60px;
            text-shadow: -2px 2px 2px rgba(255,0,0,0.62);
        }
        #latest_poster{
            width : 100%;
            height: 300px;
            overflow: hidden;
            animation-name: latest_poster;
            animation-duration: 30s;
            animation-iteration-count: infinite;
            border-bottom: 1px solid rgb(52, 52, 52);
        }
        @keyframes latest_poster{
            0%{
                background: url('images/Redmi11T.jpg') ;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                overflow : hidden;
            }
            10%{
                background: url('images/Redmi11T.jpg') ;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                overflow : hidden;
            }
            20%{
                background: url('images/NoiseFitband.jpg') ;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                overflow : hidden;
            }
            30%{
                background: url('images/NoiseFitband.jpg') ;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                overflow : hidden;
            }
            40%{
                background: url('images/LG_gram.jpg') ;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                overflow : hidden;
            }
            50%{
                background: url('images/LG_gram.jpg') ;
                background-size: 100% 100%;
                overflow : hidden;
                
            }
            60%{
                background: url('images/oneplus9R.jpg');
                background-size: 100% 100%;
                overflow : hidden;
                
            }
            70%{
                background: url('images/Pixel6Pro.jpg');
                background-size: 100% 100%;
                overflow : hidden;
                
            }
            80%{
                background: url('images/RedmiNote10T.jpg');
                background-size: 100% 100%;
                overflow : hidden;
                
            }
            90%{
                background: url('images/Asus.jpg');
                background-size: 100% 100%;
                overflow : hidden;
                
            }
            100%{
                background: url('images/Asus.jpg');
                background-size: 100% 100%;
                overflow : hidden;
                
            }
        }

        #footer {
            width: 100%;
            height: 280px;
            background-color: black;
        }
        #footer_c{
            float : left;
            margin: 1% 5% 1% 5%;
            width : 90%;
            height : 210px;
            border-bottom: 1px solid white;
        }
        #footer1{
            float  : left;
            margin-right: 20px;
            margin-left : 20px;
            width : 400px;
            height : 200px;
            border-right : 1px solid rgb(59, 58, 58);
        }
        #footer1 h2{
            font-family: Arial;
            font-size: 24px;
            font-weight: bolder;
            color: red;
            font-family: 'Cinzel Decorative', cursive;
        }
        #footer1 p{
            font-family: Arial;
            font-size: 16px;
            color: whitesmoke;
        }
        #android{
            float : left;
            width : 150px;
            height : 45px;
            border-radius: 5px;
            background: white;
            transition: transform;
            transition-duration: 1s;
        }
        #android img{
            float : left;
            margin : 2px 5px;
            width : 25%;
        }
        #ios img{
            float : left;
            margin : 2px 5px;
            width : 25%;
        }
        #ios{
            float : left;
            margin-left : 10px;
            width : 150px;
            height : 45px;
            border-radius: 5px;
            background: white;
            transition: transform;
            transition-duration: 1s;
        }
        #ios:hover, #android:hover{
            border : 1px solid rgb(248, 113, 113);
            transform :scale(1.05,1.05);
        }
        #android p{
            margin: 5px 0 0 0;
            font-size: 10px;
            font-family: Arial;
            color : black;
        }
        #android h3{
            margin : 0;
            font-size : 16px;
            font-weight: bolder;
            font-family: Arial;
        }
        #ios p{
            margin: 5px 0 0 0;
            font-size: 10px;
            font-family: Arial;
            color : black;
        }
        #ios h3{
            margin : 0;
            font-size : 16px;
            font-weight: bolder;
            font-family: Arial;
        }
        #footer2{
            float  : left;
            margin-right: 20px;
            width : 400px;
            height : 200px;
            border-right : 1px solid rgb(59, 58, 58);
        }
        #footer2 img{
            width : 50%;
            margin : 5% 25%;
        }
        #footer2 p{
            margin : 0 1%;
            text-align: center;
            font-size: 14px;
            color : whitesmoke;
            font-family: 'Courier New', Courier, monospace;
            word-spacing: 1px;
        }
        #footer3{
            float  : left;
            margin-right: 20px;
            width : 200px;
            height : 200px;
            border-right : 1px solid rgb(59, 58, 58);
        }
        #footer3 h3,#footer4 h3{
            margin : 10% 10% 5% 2%;
            font-family: Arial;
            font-size: 18px;
            font-weight: bolder;
            color: red;
            font-family: 'Cinzel Decorative', cursive;
            letter-spacing: 1px;
            
        }
        #footer3 ul, #footer4 ul {
            padding: 0 0 0 1px;
            margin : 0;
            list-style-type: none;
            font-family: 'Courier New', Courier, monospace;
        }
        #footer3 ul li a:link, #footer3  ul li a:visited,#footer4 ul li a:link,#footer4 ul li a:visited{
            padding: 0;
            font-size: 15px;
            margin : 5px 0;
            text-decoration: none;
            color : rgb(187, 181, 181);
            display: block;
            transition: margin;
            transition-duration: 0.5s;
        }
        #footer4 ul li:last-child a:link,#footer4 ul li:last-child:visited{
            font-size: 12px;
        }
        #footer3 ul li a:hover,#footer4 ul li a:hover{
            color : red;
            font-weight: bolder;
            margin-left : 10px;
        }
        #footer4{
            float  : left;
            margin-left: 5px;
            width : 250px;
            height : 200px;
        }
        .copyright{
            margin : 0;
            font-weight: bolder;
            font-style: italic;
            font-family: 'Courier New';
            font-size: 18px;
            float : left;
            padding-left : 25%;
            text-align : left;
            color : rgb(241, 239, 239);
        }
        .copyright b{
            color : red;
        }
        .designed{
            margin : 0;
            font-weight: bolder;
            font-style: italic;
            font-family: 'Courier New';
            font-size: 18px;
            float : right;
            padding-right : 25%;
            color : rgb(241, 239, 239);
        }
        .designed b{
            color : red;
        }
